.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.login-container {
    height: 80vh;
    width: 80vw;
}

.right-box {
    height: 100%;
}

.left-box {
    height: 100%;
}


#login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#avatar-logo-header {
    font-size: 3rem;
}