body {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-container {
    min-height: 80vh;
    width: 70vw;
}

.left-box {
    height: 100%;
}


#login-image {
    min-height: 100%;
    max-width: 100%;
}

#avatar-logo-header {
    font-size: 3rem;
}


.flex-part-top { flex: 0 0 30%; }
.flex-part-middle { flex: 0 0 60%; }
.flex-part-bottom { flex: 0 0 10%; }

