body{
    background-color: aliceblue;
}


.register-container {
    min-height: 80vh;
    width: 80vw;
}

.left-box {
    border-right: 1rem;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

#wallet-icon {
    font-size: 7rem;
}

.right-box {
    height: 100%;
}

